
* {
  margin: 0;
  padding: 0;
}

.input {
  font-size: 30px;
}

.input i {
  font-size: 1.4em;
}

ul {
  margin-left: 22px;
}

li {
  list-style-type: none;
  position: relative;
  padding: 8px 0;
}

li:before{
  font-family: 'FontAwesome';
  content: '\f18e';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 11px;
  left: -33px;
}

li.last:before {
  content: '\f11e';
  font-size: 0.8em;
}

div.route-duration, div.route-distance {
  position: relative;
  top: 12px;
  font-weight: 400;
}

div.route-distance:before {
  font-family: 'FontAwesome';
  content: '\f018';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;
}

div.route-duration:before {
  font-family: 'FontAwesome';
  content: '\f017';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;;
}

li.route-directions:before {
  font-family: 'FontAwesome';
  content: '\f14e';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 11px;
  left: -33px;
}

li.route-first:before {
  font-family: 'FontAwesome';
  content: '\f041';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 11px;
  left: -33px;
}

li.route-last:before {
  font-family: 'FontAwesome';
  content: '\f11e';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 11px;
  left: -33px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  /*background-image: url('cartographer.png');*/
  background-repeat: repeat;
  color: #333;
  font-weight: 300;
  text-align: center;
  border-top: 8px solid #000080;
}

#logo {
  width: 300px;
}

.container {
  padding: 20px;
}

h1 {
  font-family: 'Crete Round', serif;
  font-size: 50px;
  /*text-shadow: 2px 3px #000;*/
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.header h2 {
  margin-top: 0;
}

.route-name {
  font-family: 'Crete Round', serif;
}

.route-desc {
  font-size: 29px;
  text-shadow: none;
}

.text-muted {
  color: #444;
}

.bold {
  font-weight: bold;
}

.article {
  text-align: left;
  border-top: 1px solid #444;
  padding: 10px 30px 0 30px;
  font-size: 20px;
}

.article p {
  padding-left: 5px;
}

.header {
  margin: 20px 0 30px 0;
}

.arrow {
  font-size: 1.2em;
  text-shadow: 4px 6px #000;
  margin-right: 10px;
}

.edit {
  font-size: 1.0em;
  /*text-shadow: 4px 6px #000;*/
  margin-right: 10px;
}

.blue {
  color: #000080;
}

.red {
  color: rgb(195, 34, 34);
}

.alert-message {
  font-size: 20px !important;
}

label {
  color: #333;
  font-weight: 400;
  margin-bottom: 5px;
}

.input-group {
  font-size: 50px;
  text-align: center;
}

.form-control, .submit-button {
  font-size: 32px;
  height: 60px;
  color: #333;
  border: none;
}

.form-control {
  padding: 15px;
  background-color: #ddd;
  border: 2px #333 solid;

  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.btn-group {
  display: block;
}

.btn-group .btn {
  width: 25%;
  margin-left: 0 !important;

  border: none;
  text-shadow: none;
  background-image: none;
  background-color: rgb(0, 0, 0); /*fallback*/
  background-color: #ddd;

  color: #333;
}

.btn-group .btn:first-of-type {
  -webkit-border-top-left-radius: 10px !important;
  -moz-border-top-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  -webkit-border-bottom-left-radius: 10px !important;
  -moz-border-bottom-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.btn-group .btn:last-of-type {
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-top-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  -webkit-border-bottom-right-radius: 10px !important;
  -moz-border-bottom-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.btn-group>.btn.active {
  color: #fff;

  text-shadow: none;
  background-image: none;
  background-color: #000080;
}

.submit-button:hover {
  background-color: #ddd;
}

.toggle .btn {
  font-size: 22px;
}

.toggle.click {
  font-weight: 400;
  cursor: pointer;
}

.submit-button {
  font-family: 'Crete Round', serif;

  padding: 0 35px;
  color: #fff;

  text-shadow: none;
  background-image: none;
  background-color: #000080;

  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.push-down {
  margin-top: 20px;
}

.submit-container {
  float: none;
}

.submit-button {
  margin-bottom: 10px;
}

.row h2 {
  font-size: 30px;
  text-align: left;
  padding-bottom: 5px;
}

@media all and (max-width: 767px) {

  #logo {
    width: 200px;
  }

  .alert-message {
    font-size: 14px !important;
  }

  .container {
    padding-top: 10px;
  }

  .content {
    text-align: center;
    margin: 0 auto;
  }

  .header {
    margin: 0 0 15px 0;
  }

  .header h2 {
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
    margin-top: 10px;
  }

  .row .input {
    font-size: 24px;
  }

  .input-group {
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
  }

  .form-control {
    font-size: 24px;
    height: 60px;
  }

  .submit-button {
    font-size: 30px;
    height: 60px;
  }

  .btn-group.push-down {
    margin-top: 10px;
  }

  div.btn-group.toggle .btn {
    font-size: 16px;
  }

  .submit-container {
    display: block;
    width: 100%;
  }

  .submit-button {
    margin: 10px 0 0 0;
    font-size: 24px;
    height: 60px;
    width: 100%;
  }

  .input-group-btn {
    display: inline !important;
  }

  .route-desc {
    font-size: 20px;
    margin: 0 auto;
    max-width: 220px;
  }

  .push-down {
    margin-top: 12px;
  }

  h2, label {
    margin-top: 3px;
  }

  .row h2 {
    font-size: 24px;
    margin-top: 15px;
  }

  h2 i {
    margin: 0 5px 0 3px;
  }

  .article {
    padding-bottom: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .visible-mobile {
    display: inline-block !important;
  }

  div.route-duration, div.route-distance {
    position: relative;
    top: 6px;
  }

}
